h1 {
    font-weight: bold;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: 40px;
}

div {
    display: block;
}

.button-container {
    border: 1px solid #ddd;
    margin: 0 10px 10px 0;
    padding: 20px;
    width: 300px;
    height: 300px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
}

a#btn-spotify {
    display: inline-block;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    margin: auto;
    margin-top: 100px;
    padding: 10px 40px 0 40px;
    background-color: #2ebd59;
    border: 2px solid #2ebd59;
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: all .5s;
}

a#btn-spotify:hover {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
}

#btn-samsung {
    display: inline-block;
    width: 85%;
    height: 50px;
    margin: auto;
    margin-top: 100px;
    background-image: url("images/samsung-black.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#btn-samsung:hover {
    background-image: url("images/samsung-blue.svg");
    transform: scale(1.5);
    transition: transform .3s;
}

#btn-lyft {
    display: inline-block;
    width: 50%;
    height: 85px;
    margin: auto;
    margin-top: 100px;
    background-image: url("images/lyft-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#btn-lyft:hover {
    background-image: none;
    transform: translateX(-10%);
}

#btn-lyft img {
    margin: auto;
    width: 0;
    height: 80px;
    border-radius: 50px;
}

#btn-lyft:hover img {
    width: 120%;
    transition: .5s ease;
}

#btn-garden {
    display: inline-block;
    font-family: "transat-text", sans-serif;
    font-size: 1.5rem;
    color: #006b36;
    margin: auto;
    margin-top: 15%;

    font-weight: 700;
    text-decoration: none;
    letter-spacing: .02rem;
    transition: opacity .4s;
}

#btn-garden span {
    position: relative;
    top: -50px;
    transition: all .4s ease;
}

#btn-garden img {
    transition: opacity .4s;
    display: block;
    margin: auto;
    width: 100px;
    opacity: 0;
}


#btn-garden:hover {
    img {
        opacity: 1;
    }

    span {
        top: 10px;
    }
}

#btn-garden span:hover {
    transition: all ease;
    top: 25px;
}


#btn-michael {
    display: inline-block;
    position: relative;
    font-family: 'Gotham Book' Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .02rem;
    top: 100px;
    text-decoration: none;
    border: 0px solid black;
    padding: 15px;
    transition: .3s linear;
}

#btn-michael::before {
    content: "";
    position: absolute;
    display: block;
    width: 90%;
    height: 2px;
    bottom: 15px;
    left: 15px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#btn-michael:hover {
    border: 2px solid black;
}

#btn-michael:hover::before {
    transform: scaleX(1);
}

#btn-pastaria {
    display: inline-block;
    margin-top: 30%;
    font-family: 'Work Sans', sans-serif;
    font-size: 60px;
    font-weight: 600;
    text-decoration: none;
    background-color: teal;
    padding: 25px 40px 25px 40px;
    border-radius: 100%;
    color: rgb(255, 107, 53);
    transition: 0.3s ease;
}

#btn-pastaria span {
    position: relative;
    opacity: 1;
    transition: opacity 0.3s ease-out;
}


#btn-pastaria:hover {
    font-size: 50px;
    padding-left: 80px;
    padding-right: 80px;
    padding: 20px 80px 20px 80px;
    border-radius: 20px;
    background-image: url(images/pastaria-logo.webp);
    background-size: 165px;
    background-position: center 40%;
    background-repeat: no-repeat;

    span {
        color: #c5d0cf;
        left: 3px;
        font-size: 25px;
        opacity: 0;
    }
}


#btn-hasbro {
    display: inline-block;
    width: 50%;
    height: 85px;
    margin: auto;
    margin-top: 100px;
    background-image: url(images/hasbro-logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    transition: 0.2s;
}

#btn-hasbro:hover {
    transform: scale(2.3);
    background-image: url(images/hasbro-color-bg.png);

}

#btn-tesla {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 85px;
    margin: auto;
    margin-top: 100px;
    background-image: url("images/tesla-icon.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#btn-tesla:hover {
    background-size: 40px;
    background-position: left;
    transform: translateX(-15%);
    transition: .5s ease;
}

#btn-tesla img {
    width: 0%;
    position: absolute;
    left: 30px;
    height: 100px;
}

#btn-tesla:hover img {
    width: 100%;
    transition: .5s ease;
}

#btn-molly {
    display: inline-block;
    margin-top: 40%;
    color: #3b441a;
    padding: 10px;
    font-weight: 400;
    letter-spacing: .15em;
    border: 1px solid #3b441a;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-family: Georgia, serif;
    transition: all .5s;
}

#btn-molly:hover {
    background-color: #3b441a;
    color: #a9a476;
}


#craig-container {
    position: relative;
}

#btn-craig {
    display: inline-block;
    width: 60%;
    margin-top: 50px;
    height: 160px;
}

#btn-craig .fa-bounce {
    opacity: 0;
}

#btn-craig .fa-peace {
    position: absolute; 
    left: 30%;
    top: 30%;
    width: fit-content;
    color: rgb(99, 30, 236);
}
#btn-craig:hover #original-peace {
    opacity: 0;
}

#btn-craig:hover .fa-bounce {
    transition: color .3s;
    color: rgb(108, 101, 246);
    opacity: 1;
}



#btn-hsn {
    background-image: url("images/hsn-logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 10px;
    transition: .4s ease;
    border: 0px solid white;
    border-radius: 250px;
}

#btn-hsn:hover {
    background-image: url("images/hsn-logo-white.png");
    border: 5px solid #2781f8;
    border-radius: 250px;
}
