h1, h2, h3, h4 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    margin: auto;
}